<html>
  <head>
      <title>Network - SecurewarePi</title>
      <link rel="shortcut icon" type="image/x-icon"  href="https://www.gorillanetting.com/wp-content/uploads/2017/11/favicon.png">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <style>
      @import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
            html{
            align-items: stretch;
          }
            body{
              background-color:grey;
              height: 95vh;
            }
            header{
              margin-left: 15%;
            }
      input{
        font-size: 32px;
      }
      .neon {
        color: #fff;
        font-size:60px;
        text-shadow:
          0 0 5px #fff,
          0 0 10px #fff,
          0 0 20px #fff,
          0 0 40px #0ff,
          0 0 80px #0ff,
          0 0 90px #0ff,
          0 0 100px #0ff,
          0 0 150px #0ff;
      }
      .shell-wrap {
          width: 700px;
          height: 500px;
          margin-right:30%;
          box-shadow: 0 0 30px rgba(0,0,0,0.4);
          float: right;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }

        .shell-top-bar {
          text-align: center;
          color: #525252;
          padding: 5px 0;
          margin: 0;
          text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
          font-size: 0.85em;
          border: 1px solid #CCCCCC;
          border-bottom: none;

          -webkit-border-top-left-radius: 3px;
          -webkit-border-top-right-radius: 3px;
          -moz-border-radius-topleft: 3px;
          -moz-border-radius-topright: 3px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;

          background: #f7f7f7; /* Old browsers */
          background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
          background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
        }

        .shell-body {
          margin: 0;
          padding: 5px;
          list-style: none;
          background: #141414;
          color: #45D40C;
          font: 0.8em 'Andale Mono', Consolas, 'Courier New';
          line-height: 1.6em;
          height: 500px;
          -webkit-border-bottom-right-radius: 3px;
          -webkit-border-bottom-left-radius: 3px;
          -moz-border-radius-bottomright: 3px;
          -moz-border-radius-bottomleft: 3px;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        .shell-body li:before {
          content: '#';
          position: absolute;
          font-size: 18px;
          left: 0;
          top: 0;
        }

        .shell-body li {
          word-wrap: break-word;
          position: relative;
          padding: 0 0 0 15px;
          font-size: 20px;
          font-family: 'VT323', monospace;
        }
      .container{
          font-size: 40px;
      }

      button {
          background: #428BCA;
          color: #fff;
          font-family: Sans-serif;
          font-size: 20px;
          height: 60px;
          width: 150px;
          line-height: 60px;
          margin: 25px 25px;
          text-align: center;
          border: 0;
          transition: all 0.3s ease 0s;
      }
      .term{
        float: right;
        position: relative;
      }
      button:hover {
        background: #3071A9
      }
      p,input,button,*{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
      }
      a{
        color: orange;
      }
      </style>
  </head>
  <body>
    <div class="my-5 page-header container">
      <a href="http://localhost:3000/recon_tab"><button style="position:absolute">Recon Tab</button></a>
      <h1 class="neon text-center">Network Tab</h1>
      <p class="text-right">made with &hearts; by <a href="https://twitter.com/g33k_joshi">Akash Joshi</a></p>
    </div>
<div class="modal-body row">
    <div class="col-md-6">
        <% if(arpp_def_off==1){ %>
        <form action="/adef_start">
        <input type="submit" value="ARPP Defense OFF">
        <%}%>

        <% if(arpp_def_off==0){ %>
        <form action="/adef_stop">
        <input type="submit" value="ARPP Defense ON">
        <%}%>
      </form>

        <% if(tor_off==1){ %>
        <form action="/tor_start">
        <input type="submit" value="Tor OFF">
        <%}%>

        <% if(tor_off==0){ %>
        <form action="/tor_stop">
        <input type="submit" value="Tor ON">
        <%}%>
      </form>

        <% if(spoff_off==1){ %>
        <form action="/spoff_start">
        <input type="submit" value="Spoff OFF">
        <%}%>

        <% if(spoff_off==0){ %>
        <form action="/spoff_stop">
        <input type="submit" value="Spoff ON">
        <%}%>
      </form>

      <% if(js_off==1){ %>
      <form action="/js_start">
      <input type="submit" value="JS OFF">
      <%}%>

      <% if(js_off==0){ %>
      <form action="/js_stop">
      <input type="submit" value="JS ON">
      <%}%>
    </form>

      <% if(ad_off==1){ %>
      <form action="/adblock_start">
      <input type="submit" value="AD_block OFF">
      <%}%>

      <% if(ad_off==0){ %>
      <form action="/adblock_stop">
      <input type="submit" value="AD_block ON">
      <%}%>
    </form>

    <div class="flip">
    </div>
</div>
<div class="col-md-6">
  <div class="term">
    <div class="shell-wrap">
  <p class="shell-top-bar">Output-Only-Terminal</p>
  <ul class="shell-body">
  <li>Hey,It's @g33k_joshi GUI</li>
  </ul>
  </div>
  </div>
</div>
</div>
  </body>
</html>
