<html>
  <head>
      <title>Recon - SecurewarePi</title>
      <link rel="shortcut icon" type="image/x-icon"  href="https://www.gorillanetting.com/wp-content/uploads/2017/11/favicon.png">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/loading.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>

      <style>

      @import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
            html{
            align-items: stretch;
          }
            body{
              background-color:rgb(44, 42, 42);
              height: 95vh;
            }

            input{
              font-size: 22px;
            }
            .term{
              float: right;
              position: relative;
            }
            .glow { 
            font-size: 30px; 
            color:white; 
            text-align: center; 
            animation: glow 2s ease-in-out infinite alternate; 
            } 
            @keyframes glow { 
                from { 
                    text-shadow: 0 0 10px rgb(43, 255, 0), 
                                0 0 20px rgb(43, 255, 0),  
                                0 0 30px #26e600,  
                                0 0 40px #26e600, 
                                0 0 50px #26e600, 
                                0 0 60px #26e600,  
                                0 0 70px #26e600; 
                } 
                to { 
                    text-shadow: 0 0 20px #4dff7a; 
                                /* 0 0 30px #4dff7a,  
                                0 0 40px #4dff7a, 
                                0 0 50px #4dff7a,  
                                0 0 60px #4dff7a, 
                                0 0 70px #4dff7a,  
                                0 0 80px #4dff7a;  */
                } 
            } 
            .neon {
              color: #fff;
              /*font-size:60px;*/
              text-shadow:
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #0ff,
                0 0 80px #0ff,
                0 0 90px #0ff,
                0 0 100px #0ff,
                0 0 150px #0ff;
            }
            .shell-wrap {
                width: 700px;
                height: 500px;
                margin-right:30%;
                background: #141414;
                box-shadow: 0 0 30px rgba(0,0,0,0.4);
                float: right;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
              }

              .shell-top-bar {
                text-align: center;
                color: #525252;
                padding: 5px 0;
                margin: 0;
                text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
                font-size: 0.85em;
                border: 1px solid #CCCCCC;
                border-bottom: none;

                -webkit-border-top-left-radius: 3px;
                -webkit-border-top-right-radius: 3px;
                -moz-border-radius-topleft: 3px;
                -moz-border-radius-topright: 3px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;

                background: #f7f7f7; /* Old browsers */
                background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
              }
              .shell-top-btn {
                text-align: center;
                color: white;
                padding: 5px 0;
                margin: 0;
                text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
                font-size: 0.85em;
                font-family: 'Baloo Bhai', cursive;
                border: 1px solid #CCCCCC;
                border-bottom: none;

                -webkit-border-top-left-radius: 3px;
                -webkit-border-top-right-radius: 3px;
                -moz-border-radius-topleft: 3px;
                -moz-border-radius-topright: 3px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;

              }
              .shell-body {
                margin: 0;
                padding: 5px;
                list-style: none;
                background: #141414;
                color: #45D40C;
                font: 0.8em 'Andale Mono', Consolas, 'Courier New';
                line-height: 1.6em;
                height: auto;
                -webkit-border-bottom-right-radius: 3px;
                -webkit-border-bottom-left-radius: 3px;
                -moz-border-radius-bottomright: 3px;
                -moz-border-radius-bottomleft: 3px;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
              }

              .shell-body li:before {
                content: '#';
                position: absolute;
                font-size: 18px;
                left: 0;
                top: 0;
              }

              .shell-body li {
                word-wrap: break-word;
                position: relative;
                padding: 0 0 0 15px;
                font-size: 20px;
                font-family: 'VT323', monospace;
              }

              .buttons {
                  background: #428BCA;
                  color: #fff;
                  font-family: Sans-serif;
                  font-size: 40px;
                  height: 60px;
                  width: 150px;
                  line-height: 60px;
                  margin: 25px 25px;
                  text-align: center;
                  border: 0;
                  transition: all 0.3s ease 0s;
              }

              .buttons:hover {
                background: #3071A9
              }
              p,input,.buttons,*{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 20px;
              }
              a{
                color: orange;
              }

              ul {
                list-style-type: none;
              }

              #outhere_dup{
                width: 690px;
                height: auto;
                background:#141414;
                border: 0;
              }
              .btn:focus{
                  background: green;
              }

              #TVC{
                border:5px solid;
                color:blueviolet;
                box-shadow:0 0 20px blueviolet;
              }
              .lds-facebook {
                display: inline-block;
                position: relative;
                width: 80px;
                height: 80px;
              }
              .lds-facebook div {
                display: inline-block;
                position: absolute;
                left: 8px;
                width: 16px;
                background: rgb(236, 154, 3);
                animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
              }
              .lds-facebook div:nth-child(1) {
                left: 8px;
                animation-delay: -0.24s;
              }
              .lds-facebook div:nth-child(2) {
                left: 32px;
                animation-delay: -0.12s;
              }
              .lds-facebook div:nth-child(3) {
                left: 56px;
                animation-delay: 0;
              }
              @keyframes lds-facebook {
                0% {
                  top: 8px;
                  height: 64px;
                }
                50%, 100% {
                  top: 24px;
                  height: 32px;
                }
              }
              /* #loadr-body{
                position: absolute;
                width:100%;
                z-index: 9000;
                height: 95vh;

              }

              #loadr{
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  z-index: 9999;
                  width: 100%;
                  height: 100%;
                  margin: -75px 0 0 -75px;
                  width: 120px;
                  height: 120px;
              
              } */

      </style>
  </head>
  <body>
    
    <div class="my-5 page-header container">
          <h1 style="color:white;font-size:60px;" class="neon text-center">Vulnerability</h1>
          <h1 class="neon text-center">Scanner</h1>
          <br/>
          <p class="glow text-right">made with &hearts; by <a href="https://twitter.com/g33k_joshi">Akash Joshi</a></p>
    </div>
    
    <div class="modal-body row">
        <div class="col-md-3">
            <div id="TVC">
                <div style="float: left;position: relative;; top:0%;left: 0%">
                    <a href="http://localhost:3000/backup_gdrive"><button style="position: relative;;border: 2px solid" class="buttons"><img z-index="1" height="30px" src="https://image.flaticon.com/icons/svg/2111/2111436.svg"/> Backup</button></a>
                    <a href="http://localhost:3000/download_data"><button style="position: relative;;border: 2px solid" class="buttons"><img z-index="1" height="30px" src="https://image.flaticon.com/icons/svg/2246/2246694.svg"/> Download</button></a>
                  </div>
                  <br/>
                  <div style="float: left;position: relative;; top:0%;left: 0%" class="text-center">
                      <form action="/getinfo" onsubmit="load();" id="info_form">
                         <div id="gear"></div>
                         <input id="info_input" name="domain_name" type="text"/>
                         <!-- <a href="#info" class="neon btn btn-block btn-lg btn-info" style="font-size:20px;" data-toggle="collapse">info</a> -->
                         <input class="neon btn btn-lg btn-info" style="font-size:30px;" type="submit" value="getInfo"/>
                      </form>
                   </div>
                   <br/>
            <p class="neon text-center" style="background-color:blueviolet;color:white;font-size:30px;">Target & Bug Checklist</p>
            <!-- Material checked -->
                <div id="form-chk" class="form-check">
    
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
              <div id="scan" class="text-center">
                <a href="#scan" class="close btn btn-sm btn-danger" data-toggle="collapse">&times</a>

                <form action="/cors" method="get">
                  <input type="hidden" name="domain_name" value=""/>
                  <input class="btn btn-lg btn-danger" type="submit" value="CORS Check"/>
                </form>

                <form action="/hhi" method="get">
                  <input type="hidden" name="domain_name" value=""/>
                  <input class="btn btn-lg btn-danger" type="submit" value="Host Header Injection Check"/>
                </form>

                <form action="/dmhttp" method="get">
                  <input type="hidden" name="domain_name" value=""/>
                  <input class="btn btn-lg btn-danger" type="submit" value="Dangerous HTTP Methods Check">
                </form>

                <form action="/subdtake" method="get">
                  <input type="hidden" name="domain_name" value=""/>
                  <input class="btn btn-lg btn-danger" type="submit" value="Subdomain Takeover Check">
                </form>

                <form action="/ctp" method="get">
                  <input type="hidden" name="domain_name" value=""/>
                  <input class="btn btn-lg btn-danger" type="submit" value="Clear Text Password Submission Check"/>
                </form>

                <form action="/cfc" method="get">
                  <input type="hidden" name="domain_name" value=""/>
                  <input class="btn btn-lg btn-danger" type="submit" value="Critical File Check"/>
                </form>

                <form action="/" method="get">
                  <input type="hidden" name="domain_name" value=""/>
                  <input class="btn btn-lg btn-danger" type="submit" value="Open Redirect Check"/>
                </form>

                <form action="" method="get">
                  <input type="hidden" name="domain_name" value=""/>
                  <input class="btn btn-lg btn-danger" type="submit" value="SSL Testing"/>
                </form>

                <form action="" method="get">
                  <input type="hidden" name="domain_name" value=""/>
                  <input class="btn btn-lg btn-danger" type="submit" value="SPF & DMARC"/>
                </form>

                <form action="" method="get">
                  <input type="hidden" name="domain_name" value=""/>
                  <input class="btn btn-lg btn-danger" type="submit" value="Port Scan & Exploit Suggestor"/>
                </form>

                <hr/>
              </div>

      </div>

        <div class="col-md-6">
          <div class="term">
            <div class="shell-wrap">
          <!-- <p class="shell-top-bar">Output-Only-Terminal</p> -->
          <p id="prevout" class="btn btn-danger shell-top-btn">Show History</p>
          <ul class="shell-body">
          <li>Hey,It's @g33k_joshi's !</li>
          <li id="outhere"></li>
          <textarea id="outhere_dup">
          <% if(out){%>

            <%-out%>
            </textarea>
          <%}%>
        </textarea>

          </ul>
          </div>
          </div>
        </div>
        <% if(info){%>
        <div id="createNew" style="display:none">
          <%-info%>
        </div>
        <%}%>
   </div>
   <div class="ld ld-cross" style="font-size:64px;color:#8da">
   </div>

   <script>
     //<div  id="loaderDiv" style="height:auto;width:100%;position:absolute;border:2px solid black;">
   function load(){
     $('<div id="loadr-body"><div id="loadr" class="lds-facebook"><div></div><div></div><div></div></div></div></div>').prependTo(document.getElementById('gear'));
    //$('<div class="loadingio-spinner-magnify-n54tqseazwc"><div class="ldio-00imbbhks6sc"><div><div><div></div><div></div></div></div></div></div>').prependTo(document.getElementById('gear'));
     //$('<div class="loadingio-spinner-gear-4lwbgkfntwa"><div class="ldio-rkz1a0y92i"><div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>').prependTo(document.getElementById('gear'));
     document.body.blur();
   }
   var xhttp = new XMLHttpRequest();
         function checklist_refresh(string_url){
            xhttp.open("GET",string_url,true);
            xhttp.send();
            xhttp.onreadystatechange = function(){
              if(this.readyState == 4){
                createOptioninList(xhttp.responseText);
              }
            }
            function createOptioninList(res){
              var checklist_div = document.getElementById("form-chk");
              var new_div = document.createElement('div');

              $('#form-chk').append(new_div);
              var new_option;
              var json_res = JSON.parse(res);
              // console.log(json_res.targets[0]);
              for(var num in json_res.targets){
                let name = json_res.targets[num].name.replace(".","");
                let subd_array = json_res.targets[num].info.subd;
                let subd_string = subd_array.join('\n');
                $(`<input type="checkbox" name="${json_res.targets[num].name}" class="form-check-input" id="materialChecked-${name}" onchange="handleChange(this);">
                                <label class="form-check-label" for="materialChecked-${name}">${json_res.targets[num].name}</label>
                                <div class="glyphicon glyphicon-arrow-right btn btn-info" style="color:green;float:right;" data-toggle="collapse" data-target="#info_res-${name}"></div>
                                <a><div class="glyphicon glyphicon-refresh btn btn-info" style="color:green;float:right;"></div></a>
                                <a id="${json_res.targets[num].name}" onclick="deleteTarget(this);"><div class="glyphicon glyphicon-trash btn btn-danger" style="color:white;float:right;"></div></a>
                                <div id="info_res-${name}" class="collapse">
                                  <ul class="nav nav-tabs md-tabs" id="myTabMD-${name}" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active btn btn-lg btn-danger" id="info-tab-md-${name}" data-toggle="tab" href="#info-md-${name}" role="tab" aria-controls="info-md-${name}"
                                        aria-selected="true">Info Tab</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link btn btn-lg btn-info" id="checklist-tab-md-${name}" data-toggle="tab" href="#checklist-md-${name}" role="tab" aria-controls="checklist-md-${name}"
                                        aria-selected="false">Checklist</a>
                                    </li>
                                  </ul>
                                  <div class="tab-content card pt-5" id="myTabContentMD-${name}">
                                    <div class="tab-pane fade" id="checklist-md-${name}" role="tabpanel" aria-labelledby="checklist-tab-md-${name}">
                                        <label class="form-check-label">CORS</label>
                                        <label class="form-check-label">Host Header Redirect</label>
                                        <label class="form-check-label">Dangerous HTTP Methods</label>
                                        <label class="form-check-label">Subdomain Takeover</label>
                                        <label class="form-check-label">Clear Text Password Submission</label>
                                        <label class="form-check-label">Critical File</label>
                                        <label class="form-check-label">Open Redirect</label>
                                        <label class="form-check-label">SSL Testing</label>
                                        <label class="form-check-label">SPF & DMARC</label>
                                        <label class="form-check-label">Port Scan & Exploit Suggestion</label>
                                    </div>
                                    <div class="tab-pane fade" id="info-md-${name}" role="tabpanel" aria-labelledby="info-tab-md-${name}">
                                    <ul>
                                      <li><div class="glyphicon glyphicon-triangle-right btn btn-info" style="color:green;" data-toggle="collapse" data-target="#subd-${name}">Discovered Subdomains</div></li>
                                      <div id="subd-${name}"><b>${subd_array.length}</b> Subdomains Found!<br/><textarea style="background-color: black; width: 370px; height: 280px;color:green">${subd_string}</textarea></div>
                                      <li><div class="glyphicon glyphicon-triangle-right btn btn-info" style="color:green;" data-toggle="collapse" data-target="#dns">DNS Records</div></li>
                                      <li><div class="glyphicon glyphicon-triangle-right btn btn-info" style="color:green;" data-toggle="collapse" data-target="#whois">Whois</div></li>
                                      <li><div class="glyphicon glyphicon-triangle-right btn btn-info" style="color:green;" data-toggle="collapse" data-target="#vhd">Virtual Host Discovery</div></li>
                                    </ul>
                                    </div>
                                  </div>
                                </div>
                                <br/><br/>`).appendTo(new_div);
              }

            }
           $('textarea').each(function () {
                this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
                }).on('input', function () {
                this.style.height = 'auto';
                this.style.height = (this.scrollHeight) + 'px';
              });

         }
         function checklist_flush_refresh(string){
           $('#form-chk').empty();
          // $('#form-chk').first().remove();
           checklist_refresh(string);
          }
         checklist_refresh("/getJSONdata");
      
        function deleteTarget(a){
           var deleteTargetName=a.getAttribute('id');
           deleteTarget= "/deleteTarget?deleteTargetName="+deleteTargetName;
           console.log(a);
           console.log(deleteTargetName + " about to  be deleted!");
           checklist_flush_refresh(deleteTarget);
          
         }

        function handleChange(checkbox) {
          if(checkbox.checked == true){
            $('input').each(function(){
              if($(this).attr('type')=='hidden'){
                $(this).attr('value',checkbox.name);
                Swal.fire({
                  position: 'top-end',
                  icon: 'success',
                  title: '<i style="color:green;font-size:25px;">'+checkbox.name+"</i>&nbsp;<b style='color:white'>added to scope</b>",
                  showConfirmButton: false,
                  timer: 1500
                })
              }
            });
          }else{

          }
        }




   </script>
  </body>
</html>
